.header {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid grey;
	align-items: center;
	font-family: sans-serif;
}
img{
	height: 40px;
	width: 40px;
}
.logo img{
	float: left;
}
.account img{
	float: right;
}
.logo p{
	padding: 0px 5px;
}
.account p{
	float: right;
	padding: 0px 5px;
	text-align: right;
}
.logo, .account{
	display: flex;
	align-items: center;
	margin: 0px 30px;
}
ul {
  margin: 30px 30px;
  padding: 0;
  list-style-type: none;
  width: 17%;
}
li {
  position: relative;
  height: 55px;
}
ul img {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
}
.menuIcon{
  width: 30px;
  height: 50px;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 5px;
}
li:hover {
  background: #edc7c7;
}
a{
  display: block;
  position: absolute;
  color: black;
  text-align: center;
  font: caption;
  margin: 15px 0px;
}
.menuName{
  float: left;
  display: block;
}
.main{
	display: flex;
}
.post img {
	width: 15px;
	height: 15px;
}
.mail{
	width: 80%;
	font-family: sans-serif;
	margin-top: 30px;
	margin-right: 30px;
}
.post{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	line-height: 1.5;
}
.postStar{
	width: 5%;
}
.postAdress{
	width: 20%;
}
.postMessadge{
	width: 60%;
}
.Messadgecomment{
	color: slategrey;
}
.postSop{
	width: 5%;
}
.postDate{
	width: 10%;
}

@media(max-width: 800px){
	ul{
		width: 30%;
	}
	.mail{
		width: 70%;
	}
	.postStar{
		order: 1;
		width: 10%;
	}
	.postAdress{
		order: 2;
		width: 55%;
	}
	p{
		margin: 0px;
	}
	.postMessadge{
		order: 5;
		width: 100%;
		margin-left: 10%;
	}
	.Messadgecomment{
	    display: block;
    }
	.postSop{
		order: 3;
		width: 15%;
	}
	.postDate{
		order: 4;
		width: 20%;
	}
}

@media(max-width: 550px){
	.menuName{
		display: none;
	}
		ul{
		width: 15%;
	}
	.mail{
		width: 90%;
	}

}